<style>
    body {
        background-color: #333;
    }
    h1 {
        color: #ddd;
        text-align: center;
    }
    .btn a {
        text-decoration: none;
        color: black !important;
    }
    button a {
        text-decoration: none;
        color: black !important;
    }
</style>
<title>RideMe</title>
<link rel="icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/891732631295754280/1081604741131403456/favicon.ico">

<h1>Something went wrong: Error 500</h1>
<button class="btn">
    <a href="/">Go to Landing Page</a>
</button>