{% extends "rideMeApp/master.html" %}
{% block content %}
{% load static %}

<table>
    {% for message in messages %}
    <tr>
        <td class="{{ message.tags }}">{{ message }}</td>
    </tr>
    {% endfor %}
</table>

<h1>Posting Details</h1>

{% if posting %}

<table class="box">
    <tr>
        <td>Post Owner:</td>
        <td>
            <div style="display: flex; align-items: center;">
            <button class="user" style="float:left">
                <div style="display: flex; align-items: center;">
                    {% if posting.ownerID.profilePicture %}
                    <img class="smaller-profile-picture" src="{{ posting.ownerID.profilePicture.url }}" alt="{{ posting.ownerID.username }}'s profile picture">
                    {% else %}
                    <img class="smaller-profile-picture" src="{% static 'default_profile_picture.png' %}" alt="Default profile picture">
                    {% endif %}
                    <a style= "margin-left: 5px;" href="{% url 'userdetails' posting.ownerID.id %}">@{{posting.ownerID.username}}</a>
                </div>
                </button>
            </div>
        </td>
    </tr>
    <tr>
        <td>Pickup Location:</td>
        <td>{{ posting.pickupLocation }}</td>
    </tr>
    <tr>
        <td>Dropoff Location:</td>
        <td>{{ posting.dropoffLocation }}</td>
    </tr>
    <tr>
        <td>Trip Date:</td>
        <td>{{ posting.tripDate }}</td>
    </tr>
    <tr>
        <td>Trip Time:</td>
        <td>{{ posting.tripTime }}</td>
    </tr>
    <tr>
        <td>Price:</td>
        <td>${{ posting.tripPrice }}</td>
    </tr>
    <tr>
        <td>Number of Available Seats:</td>
        <td>{{ posting.numAvailableSeats }}</td>
    </tr>
    <tr>
        <td>Trip Vehicle:</td>
        <td>{{ posting.vehicle }}</td>
    </tr>
</table>

{% if user != posting.ownerID %}
{% if posting not in user.getPostingsInteractedWith and posting not in user.getApprovedPassengerRides %}
<form method="post" >
    {% csrf_token %}
    <p>Send a Message</p>
    {{ form.message }} <input type="submit" value="Send">
</form>
{% else %}
<button type="button">
    <a href="{% url 'viewMessages' conversation.id %}">Go to Messages</a>
</button>
{% endif %}

{% endif %}

<h3>Approved Passengers</h3>
{% if posting.getApprovedPassengers %}
<table class="box" style="text-decoration: none;">
    {% for user in posting.getApprovedPassengers %}
    <tr>
        <td>
            <div style="display: flex; align-items: center;">
                <a style="margin-right: 10px;">

                    {{ conversation.passengerID.firstName }}  {{ conversation.passengerID.lastName }}   
                </a>
            <button class="user" style="float:left">
                <div style="display: flex; align-items: center;">
                    {% if user.profilePicture %}
                    <img class="smaller-profile-picture" src="{{ user.profilePicture.url }}" alt="{{ user.username }}'s profile picture">
                    {% else %}
                    <img class="smaller-profile-picture" src="{% static 'default_profile_picture.png' %}" alt="Default profile picture">
                    {% endif %}
                    <a style= "margin-left: 5px;" href="{% url 'userdetails' user.id %}">@{{user.username}}</a>
                </div>
                </button>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>There are no approved passengers for this posting</p>
{% endif %}

{% if posting in user.getApprovedPassengerRides %}
<button type="button" class="btn">
    <a href="{% url 'confirmRemoveMyselfAsApprovedPassenger' posting.id %}" >Remove Myself as Approved Passenger</a>                 
</button>
{% endif %}

{% else %}
    <p>No posting selected</p>
{% endif %}
{% endblock %}
