{% extends "rideMeApp/master.html" %}
{% block content %}
{% load static %}

<table>
    {% for message in messages %}
    <tr>
        <td class="{{ message.tags }}">{{ message }}</td>
    </tr>
    {% endfor %}
</table>

<h1>Users to Review</h1>

{% if usersToReview %}

<table class="list" style="width: auto !important">
    <tr>
        <th>User</th>
        <th>Interaction Type</th>
        <th></th>
        <th></th>
        <th>Trip Date</th>
        <th>Trip Pickup Location</th>
        <th>Trip Dropoff Location</th>
    </tr>
        {% for user in usersToReview %}
        <tr>
            <td style="white-space: nowrap; ">
                <div style="display: flex; align-items: center; justify-content: space-between;">
                    <a style="margin-right: 10px;">
                {{ user.theInteracter.lastName }}, {{ user.theInteracter.firstName }}
            </a>

                <button class="user" style="float:right">
                    <div style="display: flex; align-items: center;">
                        {% if user.theInteracter.profilePicture %}
                        <img class="smaller-profile-picture" src="{{ user.theInteracter.profilePicture.url }}" alt="{{ user.theInteracter.username }}'s profile picture">
                        {% else %}
                        <img class="smaller-profile-picture" src="{% static 'default_profile_picture.png' %}" alt="Default profile picture">
                        {% endif %}
                        <a style= "margin-left: 5px;" href="{% url 'userdetails' user.theInteracter.id %}">@{{user.theInteracter.username}}</a>
                    </div>
                </button>
            </div>
            </td>
            {% if user.InteractionType == 'driver' %}
            <td>My Driver</td>
            {% else %}
            <td>My Passenger</td>
            {% endif %}
            <td>
                <button type="button">
                    <a href="{% url 'addReview' user.id %}" >Leave Review</a>                
                </button>
            </td>
            <td>
                <button type="button">
                    <a href="{% url 'dismissReview' user.theInteracter.id %}">Dismiss</a>
                </button>
            </td>
            <td>{{ user.postingID.tripDate }}</td>
            <td>{{ user.postingID.pickupLocation }}</td>
            <td>{{ user.postingID.dropoffLocation }}</td>
        </tr>
        {% endfor %}

{% else %}
<p>You have already reviewed all users you have interacted with.</p>
{% endif %}

{% endblock %}