<button type="button">
    <a href="{% url 'logout' %}" >Logout </a>                 
</button>

<button type="button">
    <a href="{% url 'postings' %}">Back to Postings List</a>
</button>

<h1>Add Posting</h1>

{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}

<p>Note that if you enter a trip date which is not in the future, the form will show that the posting was successfully added but it will be removed from the database once queried</p>

<p>Enter the following information to add a new posting: </p>

<form method="post" >
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="submit">
</form>