{% extends "rideMeApp\master.html" %}
{% block content %}

<table>
    {% for message in messages %}
    <tr>
        <td class="{{ message.tags }}">{{ message }}</td>
    </tr>
    {% endfor %}
</table>

<p>Leave a review for {{ userToReview.firstName }} {{ userToReview.lastName }}</p>
<p>Enter the following to leave the review</p>

<form method="post" >
    {% csrf_token %}
    <p>{{ form.rating.label }} {{ form.rating}}</p>
    <p>{{ form.description.label }}</p>
    <p>{{ form.description }}</p>
    <input type="submit" value="submit">
</form>
{% endblock %}