{% extends "rideMeApp\master.html" %}
{% block content %}

<h1>Manage Posting</h1>

{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}

<table class="box">
    <tr>
        <td>Pickup Location:</td>
        <td>{{ posting.pickupLocation }}</td>
        <td><form method="post">{% csrf_token %}{{ pickupLocationForm.pickupLocation }}<input type="submit" value="Update" name="pickupButton"></form></td>
        <td>{{ pickupLocationForm.pickupLocation.errors }}</td>
    </tr>
    <tr>
        <td>Dropoff Location:</td>
        <td>{{ posting.dropoffLocation }}</td>
        <td><form method="post">{% csrf_token %}{{ dropoffLocationForm.dropoffLocation }}<input type="submit" value="Update" name="dropoffButton"></form></td>
        <td>{{ dropoffLocationForm.dropoffLocation.errors }}</td>
    </tr>
    <tr>
        <td>Trip Date:</td>
        <td>{{ posting.tripDate }}</td>
        <td><form method="post">{% csrf_token %}{{ tripDateForm.tripDate }}<input type="submit" value="Update" name="tripDateButton"></form></td>
        <td>{{ tripDateForm.tripDate.errors }}</td>
    </tr>
    <tr>
        <td>Trip Time:</td>
        <td>{{ posting.tripTime }}</td>
        <td><form method="post">{% csrf_token %}{{ tripTimeForm.tripTime }}<input type="submit" value="Update" name="tripTimeButton"></form></td>
        <td>{{ tripTimeForm.tripTime.errors.as_text }}</td>
    </tr>
    <tr>
        <td>Number of Available Seats:</td>
        <td>{{ posting.numAvailableSeats }}</td>
        <td><form method="post">{% csrf_token %}{{ numSeatsForm.numAvailableSeats }}<input type="submit" value="Update" name="numSeatsButton"></form></td>
        <td>{{ numSeatsForm.numAvailableSeats.errors }}</td>
    </tr>
    <tr>
        <td>Trip Vehicle:</td>
        <td>{{ posting.vehicle }}</td>
        <td><form method="post">{% csrf_token %}{{ vehicleForm.vehicle }}<input type="submit" value="Update" name="vehicleButton"></form></td>
        <td>{{ vehicleForm.vehicle.errors }}</td>
    </tr>
</table>

<button type="button" class="btn">
    <a href="{% url 'confirmCancelPosting' posting.id %}">Cancel Trip</a>
</button>

<h3>Approved Passengers</h3>
{% if posting.getApprovedPassengers %}
<table class="box" style="text-decoration: none;">
    {% for user in posting.getApprovedPassengers %}
    <tr>
        <td>
            <a>{{user.firstName}} {{user.lastName}} ( </a><a href="{% url 'userdetails' user.id %}">{{ user.username }}</a> <a>)</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>You have not approved anyone to be a passenger for this trip</p>
{% endif %}

<h3>Associated Conversations</h3>
{% if posting.getAssociatedConversations %}
<table class="box" style="text-decoration: none;">
    <th>Unread Messages</th>
    <th>User</th>
    <th>Approved?</th>
    <th></th>
    {% for conversation in posting.getAssociatedConversations %}
    <tr>
        <tr>
            {% if conversation.hasUnreadMessagesCurUser == False %}
            <td>No</td>
            {% else %}
            <td>Yes</td>
            {% endif %}
            <td style="white-space: nowrap; width: 0px;">
                <button>
                    <a href="{% url 'userdetails' conversation.postingID.ownerID.id %}">
                        {{ conversation.passengerID.firstName }} {{ conversation.passengerID.lastName }} ({{conversation.passengerID.username}})
                    </a>
                </button>
            </td>
            {% if conversation.passengerID not in posting.getApprovedPassengers %}
            <td>No</td>
            {% else %}
            <td>Yes</td>
            {% endif %}
            <td style="white-space:nowrap; width: 0px;">
                <button type="button" class="btn">
                    <a href="{% url 'viewMessages' conversation.id %}">View Messages</a>
                </button>
            </td>
    </tr>
    {% endfor %}
</table>
{% else %}

<p>Nobody has messaged you regarding this posting yet</p>

{% endif %}

{% endblock %}


