{% extends "rideMeApp\master.html" %}
{% block content %}

<h1>My Driver Trips</h1>

<table>
    {% for message in messages %}
    <tr>
        <td class="{{ message.tags }}">{{ message }}</td>
    </tr>
    {% endfor %}
</table>

{% if user.getPastDriverTripsNeedingAction %}
<h2>Past Trips that Need Action</h2>
<table class="list">
    <tr>
        <th>Pickup Location</th>
        <th>Dropoff Location</th>
        <th>Trip Date</th>
        <th>Pickup Time</th>
        <th>Price</th>
        <th>Trip Occurred?</th>
    </tr>  
    {% for trip in user.getPastDriverTripsNeedingAction %}
    <tr>
        <td>{{ trip.pickupLocation }}</td>
        <td>{{ trip.dropoffLocation }}</td>
        <td>{{ trip.tripDate }}</td>
        <td>{{ trip.tripTime }}</td>
        <td>${{ trip.tripPrice }}</td>
        <td>
            <button type="button">
                <a href="{% url 'completePosting' trip.id %}" >Yes</a>                 
            </button>
            <button type="button">
                <a href="{% url 'cancelPosting' trip.id %}" >No</a>                 
            </button>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
{% endif %}

<h2>My Upcoming Driver Trips</h2>
{% if user.getUpcomingDriverTrips %}

<table class="list">
    <tr>
        <th>Pickup Location</th>
        <th>Dropoff Location</th>
        <th>Trip Date</th>
        <th>Pickup Time</th>
        <th>Price</th>
        <th>Manage Posting</th>
    </tr>  
    {% for trip in user.getUpcomingDriverTrips %}
    <tr>
        <td>{{ trip.pickupLocation }}</td>
        <td>{{ trip.dropoffLocation }}</td>
        <td>{{ trip.tripDate }}</td>
        <td>{{ trip.tripTime }}</td>
        <td>${{ trip.tripPrice }}</td>
        <td>
            <button type="button" class="btn">
                <a href="{% url 'managePosting' trip.id %}" >Manage</a>                 
            </button>
        </td>
    </tr>
    {% endfor %}
</table>


{% else %}
<p>You have no upcoming trips as a driver.</p>
{% endif %}

<h2>My Past Driver Trips</h2>
{% if user.getPastDriverTrips %}

<table class="list">
    <tr>
        <th>Pickup Location</th>
        <th>Dropoff Location</th>
        <th>Trip Date</th>
        <th>Pickup Time</th>
        <th>Price</th>
        <th>View Details</th>
    </tr>  
    {% for trip in user.getPastDriverTrips %}
    <tr>
        <td>{{ trip.pickupLocation }}</td>
        <td>{{ trip.dropoffLocation }}</td>
        <td>{{ trip.tripDate }}</td>
        <td>{{ trip.tripTime }}</td>
        <td>${{ trip.tripPrice }}</td>
        <td>
            <button type="button" class="btn">
                <a href="{% url 'postingdetails' trip.id %}" >Details</a>                 
            </button>
        </td>
    </tr>
    {% endfor %}
</table>

{% else %}
<p>You have no past trips as a driver.</p>

{% endif %}
{% endblock %}