{% extends "rideMeApp/master.html" %}
{% block content %}

<h1>My Passenger Trips</h1>

<table>
    {% for message in messages %}
    <tr>
        <td class="{{ message.tags }}">{{ message }}</td>
    </tr>
    {% endfor %}
</table>

<h2>Upcoming Trips</h2>

<h3>Approved Passenger</h3>
{% if user.getUpcomingApprovedPassengerTrips %}

<table class="list">
    <tr>
        <th>Pickup Location</th>
        <th>Dropoff Location</th>
        <th>Trip Date</th>
        <th>Pickup Time</th>
        <th>Price</th>
        <th></th>
        <th></th>
    </tr>  
    {% for trip in user.getUpcomingApprovedPassengerTrips %}
    <tr>
        <td>{{ trip.pickupLocation }}</td>
        <td>{{ trip.dropoffLocation }}</td>
        <td>{{ trip.tripDate }}</td>
        <td>{{ trip.tripTime }}</td>
        <td>${{ trip.tripPrice }}</td>
        <td>
            <button type="button" class="btn">
                <a href="{% url 'postingdetails' trip.id %}" >View Trip Details</a>                 
            </button>
        </td>
        <td>
            <button type="button" class="btn">
                <a href="{% url 'confirmRemoveMyselfAsApprovedPassenger' trip.id %}" >Remove Myself as Approved Passenger</a>                 
            </button>
        </td>
    </tr>
    {% endfor %}
</table>

{% else %}
<p>You have not been added as an approved passenger for any upcoming trips.</p>
{% endif %}

{% if user.getAwaitingApprovalPassengerTrips %}
<h3>Messaged Post Owner Trips</h3>

<table class="list">
    <tr>
        <th>Pickup Location</th>
        <th>Dropoff Location</th>
        <th>Trip Date</th>
        <th>Pickup Time</th>
        <th>Price</th>
        <th>View Details</th>
    </tr>  
    {% for trip in user.getAwaitingApprovalPassengerTrips %}
    <tr>
        <td>{{ trip.pickupLocation }}</td>
        <td>{{ trip.dropoffLocation }}</td>
        <td>{{ trip.tripDate }}</td>
        <td>{{ trip.tripTime }}</td>
        <td>${{ trip.tripPrice }}</td>
        <td>
            <button type="button" class="btn">
                <a href="{% url 'postingdetails' trip.id %}" >Details</a>                 
            </button>
        </td>
    </tr>
    {% endfor %}
</table>


{% else %}
{% endif %}

<h2>Past Trips as Approved Passenger</h2>
{% if user.getPastApprovedPassengerTrips %}

<table class="list">
    <tr>
        <th>Pickup Location</th>
        <th>Dropoff Location</th>
        <th>Trip Date</th>
        <th>Pickup Time</th>
        <th>View Details</th>
    </tr>  
    {% for trip in user.getPastApprovedPassengerTrips %}
    <tr>
        <td>{{ trip.pickupLocation }}</td>
        <td>{{ trip.dropoffLocation }}</td>
        <td>{{ trip.tripDate }}</td>
        <td>{{ trip.tripTime }}</td>
        <td>
            <button type="button" class="btn">
                <a href="{% url 'postingdetails' trip.id %}" >Details</a>                 
            </button>
        </td>
    </tr>
    {% endfor %}
</table>

{% else %}
<p>There are no past trips where you are an approved passenger.</p>
{% endif %}
{% endblock %}