<button type="button">
    <a href="{% url 'logout' %}" >Logout </a>                 
</button>
<button type="button">
    <a href="{% url 'postings' %}">Back to Postings List</a>
</button>
<button type="button">
    <a href="{% url 'viewConversations' %}">Back to Conversations</a>
</button>

{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}

<h1>Posting Details</h1>

{% if posting %}

<table>
    <tr>
        <td>Post Owner Name:</td>
        <td>
            <a href="{% url 'userdetails' posting.ownerID.id %}" > 
                {{ posting.ownerID.lastName }}, {{ posting.ownerID.firstName }}  
            </a>
        </td>
    </tr>
    <tr>
        <td>Pickup Location:</td>
        <td>{{ posting.pickupLocation }}</td>
    </tr>
    <tr>
        <td>Dropoff Location:</td>
        <td>{{ posting.dropoffLocation }}</td>
    </tr>
    <tr>
        <td>Trip Date:</td>
        <td>{{ posting.tripDate }}</td>
    </tr>
    <tr>
        <td>Trip Time:</td>
        <td>{{ posting.tripTime }}</td>
    </tr>
    <tr>
        <td>Number of Available Seats:</td>
        <td>{{ posting.numAvailableSeats }}</td>
    </tr>
    <tr>
        <td>Trip Vehicle:</td>
        <td>{{ posting.vehicle }}</td>
    </tr>
</table>

<button type="button">
    <a href="{% url 'messagePostOwner' posting.id %}">Message Post Owner</a>
</button>

<h3>Approved Passengers</h3>
<table>
    {% for user in posting.getApprovedPassengers %}
    <tr>
        <td>
            <a href="{% url 'userdetails' user.id %}">{{ user.username }}</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% if posting.getApprovedPassengers %}
{% else %}
<p>There are no approved passengers for this posting</p>
{% endif %}

{% else %}
    <p>No posting selected</p>
{% endif %}

