{% extends "rideMeApp\master.html" %}
{% block content %}

<div style="float: right; width: 50%;">
    <h2 style="color: #ddd">Hello {{ user.firstName }} </h2>

    {% for message in messages %}
        <p style="color: #ddd">{{ message }}</p>
    {% endfor %}
</div>

<div style="width: 50%; float: right;">
    <h1>Open Postings</h1>

    {% if postingsList and user.getUpcomingOpenDriverPostings.length != postingsList.length %}
    <table class="list">
        <tr>
            <th>Pickup Location</th>
            <th>Dropoff Location</th>
            <th>Trip Date</th>
            <th>Pickup Time</th>
            <th></th>
        </tr>
            {% for posting in postingsList %}
            {% if posting.isOpen == True %}
            {% if user != posting.ownerID %}
            <tr>
                
                <td>{{ posting.pickupLocation }}</td>
                <td>{{ posting.dropoffLocation }}</td>
                <td>{{ posting.tripDate }}</td>
                <td>{{ posting.tripTime }}</td>
                <td>
                    <span class="btn">
                        <a class="btn" href="{% url 'postingdetails' posting.id %}">View Posting </a>                 
                    </span>
                </td>

            </tr>
            {% endif %}
            {% endif %}
            {% endfor %}
    </table>
    {% else %}
        <p>No open postings</p>
    {% endif %}

</div>
{% endblock %}




