{% extends "rideMeApp\master.html" %}
{% block content %}

<button type="button">
    <a href="{% url 'logout' %}" >Logout </a>                 
</button>

<button type="button">
    <a href="{% url 'postings' %}" >Back to Postings</a>                 
</button>

<button type="button">
    <a href="{% url 'viewConversations' %}" >Back to Conversations</a>                 
</button>

<h2>Send Message</h2>

<form method="post" >
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="submit">
</form>

{% endblock %}