{% extends "rideMeApp\master.html" %}
{% block content %}

<h1>Welcome to RideMe</h1>

{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}

<p>Enter the following information to register</p>

<form method="post" >
    <table class="box">
    {% csrf_token %}
    {% for field in form %}
    <tr>
        <td>{{field.label}}</td>
        <td>{{field}}</td>
    </tr>
    {% endfor %}
    </table>
    <input type="submit" value="submit">
</form>

<p>Already have an account?</p>
<button type="button" class="btn"><a href="{% url 'landingPage' %}">Login</a></button>
{% endblock %}
