{% extends "rideMeApp\master.html" %}
{% block content %}

{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}

<h1>Users to Review</h1>

{% if usersToReview %}

<table class="box">
    <tr>
        <td>User</td>
        <td>Interaction Type</td>
        <td></td>
        <td></td>
        <td>Trip Date</td>
        <td>Trip Pickup Location</td>
        <td>Trip Dropoff Location</td>
    </tr>
        {% for user in usersToReview %}
        <tr>
            <td>{{ user.theInteracter.lastName }}, {{ user.theInteracter.firstName }}</td>
            {% if user.InteractionType == 'driver' %}
            <td>My Driver</td>
            {% else %}
            <td>My Passenger</td>
            {% endif %}
            <td>
                <button type="button">
                    <a href="{% url 'addReview' user.id %}" >Leave Review</a>                
                </button>
            </td>
            <td>
                <button type="button">
                    <a href="{% url 'dismissReview' user.theInteracter.id %}">Dismiss</a>
                </button>
            </td>
            <td>{{ user.postingID.tripTime }}</td>
            <td>{{ user.postingID.pickupLocation }}</td>
            <td>{{ user.postingID.dropoffLocation }}</td>
        </tr>
        {% endfor %}

{% else %}
<p>You have already reviewed all users you have interacted with.</p>
{% endif %}

{% endblock %}