<button type="button">
    <a href="{% url 'logout' %}" >Logout </a>                 
</button>

<button type="button">
    <a href="{% url 'postings' %}">Back to Postings List</a>
</button>

{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}

<h1>Users to Review</h1>

{% if usersToReview %}

<table>
    <tr>
        <td>User</td>
        <td></td>
        <td></td>
    </tr>
        {% for user in usersToReview %}
        <tr>
            <td>{{ user.theInteracter.lastName }}, {{ user.theInteracter.firstName }}</td>
            <td>
                <button type="button">
                    <a href="{% url 'addReview' user.theInteracter.id %}" >Leave Review</a>                
                </button>
            </td>
            <td>
                <button type="button">
                    <a href="{ url 'dismissReview' user.theInteractor.id }">Dismiss</a>
                </button>
            </td>

        </tr>
        {% endfor %}

{% else %}
<p>You have already reviewed all users you have interacted with.</p>
{% endif %}