<button type="button">
    <a href="{% url 'logout' %}" >Logout </a>                 
</button>
<button type="button">
    <a href="{% url 'postings' %}">Back to Postings List</a>
</button>
<button type="button">
    <a href="{% url 'viewConversations' %}">Back to Conversations</a>
</button>

<h1>Messages</h1>

<h2>Associated Posting Details</h2>
<table>
    <tr>
        <td>Post Owner Name:</td>
        <td>
            <a href="{% url 'userdetails' posting.ownerID.id %}" > 
                {{ posting.ownerID.lastName }}, {{ posting.ownerID.firstName }}  
            </a>
        </td>
    </tr>
    <tr>
        <td>Pickup Location:</td>
        <td>{{ posting.pickupLocation }}</td>
    </tr>
    <tr>
        <td>Dropoff Location:</td>
        <td>{{ posting.dropoffLocation }}</td>
    </tr>
    <tr>
        <td>Trip Date:</td>
        <td>{{ posting.tripDate }}</td>
    </tr>
    <tr>
        <td>Trip Time:</td>
        <td>{{ posting.tripTime }}</td>
    </tr>
    <tr>
        <td>Number of Available Seats:</td>
        <td>{{ posting.numAvailableSeats }}</td>
    </tr>
    <tr>
        <td>Trip Vehicle:</td>
        <td>{{ posting.vehicle }}</td>
    </tr>
</table>


{% if posting.getApprovedPassengers %}
<table>
    <h3>Approved Passengers</h3>
    {% for user in posting.getApprovedPassengers %}
    <tr>
        <td>
            <a href="{% url 'userdetails' user.id %}">{{ user.username }}</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
{% endif %}

<button type="button">
    <a href="{% url 'postingdetails' posting.id %}">View Associated Posting</a>
</button>

{% if user == conversation.postingID.ownerID %}
<p>Add 
<a href="{% url 'userdetails' conversation.passengerID.id %}">{{ conversation.passengerID.username }} </a>
as an approved passenger</p>
<button type="button">
    <a href="{% url 'addApprovedPassenger' conversation.id %}">Add</a>
</button>
<p>Send a message to {{ conversation.passengerID.username }}</p>
<button type="button">
    <a href="{% url 'sendMessage' conversation.id %}">Send Message</a>
</button>
{% else %}
<p>Send a message to {{ conversation.postingID.ownerID.username }}</p>
<button type="button">
    <a href="{% url 'sendMessage' conversation.id %}">Send Message</a>
</button>
{% endif %}




{% if messages %}
<table>
    <tr>
        <td>Sender</td>
        <td>Message</td>
        <td>Time Sent</td>
    </tr>
        {% for message in messages %}
        {% if message.senderID == user %}
        <tr>
            <td>
                <a href="{% url 'myProfile' %}">{{ message.senderID.username }}</a> 
            </td>
            <td>{{ message.message }}</td>
            <td>{{ message.timeSent }}</td>
        </tr>
        {% else %}
        <tr>
            <td>
                <a href="{% url 'userdetails' message.senderID.id %}">{{ message.senderID.username }}</a> 
            </td>
            <td>{{ message.message }}</td>
            <td>{{ message.timeSent }}</td>
        </tr>        
        {% endif %}
        {% endfor %}
</table>

{% else %}
    <p>There are no messages in this conversation</p>
{% endif %}