{% extends "rideMeApp\master.html" %}
{% block content %}

<style>
    input[type=text] {
        width: 100%;
        padding: 8px;
    }
    table th {
        position: sticky;
        top: 0;
        background-color: #333;
        padding: 4px;
    }
</style>

<h1>Messages</h1>
<div style="float:right; width:48%">

    <h2>Associated Posting Details</h2>

    <table class="box">
        <tr>
            <td>Post Owner Name:</td>
            <td>
                <a href="{% url 'userdetails' posting.ownerID.id %}" > 
                    {{ posting.ownerID.lastName }}, {{ posting.ownerID.firstName }}  
                </a>
            </td>
        </tr>
        <tr>
            <td>Pickup Location:</td>
            <td>{{ posting.pickupLocation }}</td>
        </tr>
        <tr>
            <td>Dropoff Location:</td>
            <td>{{ posting.dropoffLocation }}</td>
        </tr>
        <tr>
            <td>Trip Date:</td>
            <td>{{ posting.tripDate }}</td>
        </tr>
        <tr>
            <td>Trip Time:</td>
            <td>{{ posting.tripTime }}</td>
        </tr>
        <tr>
            <td>Price:</td>
            <td>${{ posting.tripPrice }}</td>
        </tr>
        <tr>
            <td>Number of Available Seats:</td>
            <td>{{ posting.numAvailableSeats }}</td>
        </tr>
        <tr>
            <td>Trip Vehicle:</td>
            <td>{{ posting.vehicle }}</td>
        </tr>

    </table>
    {% if posting.getApprovedPassengers %}
    <table>
        <h3>Approved Passengers</h3>
        {% for user in posting.getApprovedPassengers %}
        <tr>
            <td>
                <button class="user">
                    <a href="{% url 'userdetails' user.id %}">{{ user.username }}</a>
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    {% endif %}

    <button type="button">
        <a href="{% url 'postingdetails' posting.id %}">View Associated Posting</a>
    </button>


    {% if user == conversation.postingID.ownerID %}
    {% if conversation.passengerID not in posting.getApprovedPassengers %}
        <p>Add 
            <button class="user">
                <a href="{% url 'userdetails' conversation.passengerID.id %}">@{{ conversation.passengerID.username }} </a>
            </button>
        as an approved passenger</p>
        
        <button type="button">
            <a href="{% url 'addApprovedPassenger' conversation.id %}">Add</a>
        </button>
    {% endif %}
    {% endif %}
</div>
<div style="height: 75%; border: 1px white; border-style: solid; float: left; width: 48%; border-radius: 25px;">
{% if user == conversation.postingID.ownerID %}
<p style="padding: 4px;"> Send a message to {{ conversation.passengerID.username }}</p>
{% else %}
<p style="padding: 4px"> Send a message to {{ conversation.postingID.ownerID.username }}</p>
{% endif %}




{% if messages %}
<table cellspacing="0" cellpadding="0" width="100%" style="table-layout: fixed;" height="80%">
    <tr>
      <td>
         <table cellspacing="0" cellpadding="1" width="100%" >
           <tr style="color:white;background-color:grey">
            {% if user == conversation.postingID.ownerID %}
            <th><button class="user" style="float:left"><a href="{% url 'userdetails' conversation.passengerID.id %}">@{{conversation.passengerID.username}}</a></button>
            {% else %}
            <th><button class="user" style="float:left"><a href="{% url 'userdetails' conversation.postingID.ownerID.id %}">@{{conversation.postingID.ownerID.username}}</a></button>
            {% endif %}
            <button class="user" style="float:right"><a href="{% url 'myProfile' %}">@{{user.username}}</a></button></th>
           </tr>
         </table>
      </td>
    </tr>
    <tr>
      <td>
         <div style="width:99%; overflow:auto; height: 55vh; display: flex; flex-direction: column-reverse; padding: 4px;">
           <table cellspacing="0" cellpadding="1" width="100%" height="40%" style="table-layout: fixed;">
            {% for message in messages.reverse %}
            {% if message.senderID == user %}
            <tr>
                <td><a class="msg-right">{{ message.message }}</a></td>
            </tr>
            <tr>
                <td style="float: right; color: gray;">{{ message.timeSent }}</td>
            </tr>
            {% else %}
            <tr>
                <td> <a class="msg-left">{{ message.message }}</a></td>
            </tr>
            <tr>
                <td style="color: gray;">{{message.timeSent}}</td>
            </tr>        
            {% endif %}
            {% endfor %}
           </table>  
         </div>
      </td>
    </tr>
  </table>

<form method="post" width="100%">
    {% csrf_token %}
    <table>
        <td width="100%">{{ form.message }}</td> <td><input type="submit" value="SEND" style="padding: 8px 16px; background-color: dodgerblue; border: none;"></td>
    </table>
</form>

{% else %}
    <p>There are no messages in this conversation</p>
{% endif %}
</div>
{% endblock %}
